.full-view {
  height: 100vh;
  background-color: lightblue;
  font-size: 3em;
}

.bg-landing{
  background-image: url(./images/about.png);

  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: cover;
  background-position: center center;
}

.bg-header{
background-color: rgba(0, 0, 0, 0)
}

.about-photo {

  object-fit: cover;
  height: 15em;
  width: 15em;
  border-radius: 50%;
  box-shadow: 0px 3px 9px 1px black;
}

.vh100{
  height:100vh;
}

.project-bg{
  height: 120vh;
  background-color: lightgreen;
}

.grow {
   transition: all .5s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}
.overflow-hidden{
  overflow:hidden;
}

.project-shadow {
  box-shadow: 0 13px 8px -10px rgba(0,0,0,.1);
}

.skills-bg{
  height: 120vh;
  background-color: orange;
}

.skill-card{
  border:0;
  background-color:transparent;
}

.skill-padding{
  padding: 40%;
}
